[2016-12-08 17:43] adamk33n3r opened #1 "Typescript missing types for Selectize"
Installing `@types/selectize` fixed this. Should that be added as a dependency?

[2016-12-08 17:46] adamk33n3r opened #2 "Make the module a non-default export"
This is how all of the modules I've seen do it so it would make sense for you to do as well.

Thoughts?

[2016-12-11 15:44] NicholasAzar commented on #2
Makes no difference to me.. there's only one export in this case so i didn't really see why it would matter. For the sake of convention though, and I guess on the off chance other exported modules are introduced, will make the change.

Thanks Adam!

[2016-12-11 15:48] #2 closed

[2016-12-11 15:53] #1 closed

[2016-12-14 14:48] minhtam-nguyennhat opened #3 "Unexpected value 'Ng2SelectizeModule' imported by the module 'AppModule'"
Hi,

So I tried to follow your instructions, having this import in my app.module.ts file

`import { Ng2SelectizeModule } from 'ng2-selectize';

@NgModule({
	imports: [
		BrowserModule
		, FormsModule
		, HttpModule
		, Ng2SelectizeModule
	],
	declarations: [
		AppComponent
		, TabPanelComponent
		, TabComponent
		, ObservablesComponent
	],
	bootstrap: [AppComponent]
})

export class AppModule { }`

[2016-12-14 15:54] NicholasAzar commented on #3
Hey Tam, which version of ng2-selectize are you using? There was a change in one of the more recent releases to change the module import to non-default (requires curly brackets) where it didnt before.

[2016-12-14 21:13] judezhu commented on #3
I came across the same problem too, using v0.0.18.

[2016-12-14 22:05] NicholasAzar commented on #3
That's really strange as i just tried it empty test project and it works as is for me.. my only guess could be how im exporting from index.ts... could you guys try to modify the index.ts from node_modules/ng2-selectize/index.ts for it to be:

import {Ng2SelectizeModule} from './src/....';
export {Ng2SelectizeModule};

And see if that fixes it?

[2016-12-14 23:19] minhtam-nguyennhat commented on #3
Hi Nick,

Thanks the above seems to fix the problem. All is good now :) Thanks heaps

Tam.

[2016-12-14 23:19] #3 closed

[2017-01-01 23:05] NicholasAzar opened #4 "Dropdown direction"
Integrate dropdown direction plugin.
Will likely require removing defined dependency from main branch of selectize.js.

[2017-01-01 23:06] NicholasAzar opened #5 "Integrate Angular2 form validation functionality"

[2017-01-01 23:08] NicholasAzar opened #6 "Provide example for parent component access to internally initialized selectize object."

[2017-01-01 23:10] NicholasAzar opened #7 "Value as array instead of comma delimited string."

[2017-01-01 23:12] NicholasAzar opened #8 "Semantic-ui stylesheet to match input fields."

[2017-01-01 23:25] #4 closed

[2017-01-02 01:49] #5 closed

[2017-01-02 01:49] #7 closed

[2017-01-02 02:03] #8 closed

[2017-01-02 02:35] NicholasAzar opened #9 "Scrolling up when dropdown open results in compressed option list."

[2017-01-02 02:38] NicholasAzar commented on #9
Introduced by commit a47e6eccb4d0d170c9694a8f4492abfb732615de

[2017-01-02 02:49] NicholasAzar commented on #3
Hi @JulioWar! Thank you for that link. I'll definitely take a look into that article and work on the package resolutions.

And I would absolutely appreciate any help you would be able to provide.. If there's any issues you find or features you're looking for don't hesitate to open them as issues and assign them as you see fit. Or if you just want to open a pr directly, i'll certainly merge as soon

[2017-01-02 04:49] NicholasAzar commented on #9
Fixed.

[2017-01-02 04:49] #9 closed

[2017-01-02 04:49] NicholasAzar commented on #6
Already fixed, requires example.

[2017-01-02 15:47] NicholasAzar opened #10 "Preset value for dropdown does not display selection."
Although preset value is available through the ngModel, the dropdown does not reflect state.

[2017-01-02 18:25] NicholasAzar opened #11 "Add setting to maintain selected items on option change if they still exist."
Current functionality clears selected items on option change... which although it has a use case, will likely not meet all use cases.

Proposing to include an input setting to toggle this functionality:

**Attribute:** clearItemsOnOptionChanges
**Type:** Boolean
**Default:** true
**Description:** If _true_, items will be deselected when a change in options is detected. Otherwise, selected options

[2017-01-02 18:33] #10 closed

[2017-01-08 05:57] #11 closed

[2017-01-10 04:55] NicholasAzar opened #12 "Async value & async options sometimes not selecting items."

[2017-01-10 04:56] NicholasAzar opened #13 "Remove errors when included in package with "noImplicitAny""

[2017-01-13 17:36] JulioWar commented on #5
@NicholasAzar,  How to display the validation errors ?

[2017-01-14 03:40] NicholasAzar commented on #5
Hello @JulioWar, i'll get an example up for you in a sec.

[2017-01-14 06:56] NicholasAzar opened #14 "AOT Compatability"

[2017-01-14 08:40] #13 closed

[2017-01-25 04:01] NicholasAzar opened #16 "Remove requires of jquery & selectize for inclusion in the project."

[2017-01-25 04:10] NicholasAzar opened #17 "Fix item/option labels for new options with same value different label."
If options/items are updated with a new set that has some with the same value but a different labels, changes are not being reflected...

[2017-01-27 04:42] #17 closed

[2017-01-31 03:15] NicholasAzar opened #19 "Prevent input object mutation"
Input objects are being mutated to add the $order field when sorted.

[2017-02-02 03:00] NicholasAzar opened #20 "Clearing selected options after selection does not clear internal model value"
in set value(value: string[]), don't check for truthy value.... pending commit.

[2017-02-02 03:08] NicholasAzar commented on #6
No longer think this is necessary.
.

[2017-02-02 03:08] #6 closed

[2017-02-02 03:09] NicholasAzar commented on #14
Verified, it already is.

[2017-02-02 03:09] #14 closed

[2017-02-02 03:11] NicholasAzar commented on #12
Fixed per commits #e56e797  and #6e8e182

[2017-02-02 03:11] #12 closed

[2017-02-02 03:20] #16 closed

[2017-02-02 03:20] #19 closed

[2017-02-02 03:20] #20 closed

[2017-02-17 13:37] rohan-buchner opened #21 "Webpack support."
When trying to use this component in my Angular 2 solution, build by Webpack I get the following error. I've tried various attempts at loading this module (also note, I've added the selectize  typings, and loaded the jquery deps using ProvidePlugin)

**index.ts**

[code]

Webpack.conf.js
[code]

Is Webpack currently supported?

[2017-02-17 16:40] genuinefafa opened #22 "lodash dependency not declared in package"
Do I need to manually install lodash library? I'm not currently using in the project and was unaware of the dependency.

[code]

[2017-02-18 17:33] NicholasAzar commented on #21
Hi @rohan-buchner, i will be refactoring the project this weekend as my publishing non-compiled ts files to the npm repo is a bad idea. I think the reason it's not currently working for you is that you have /node_modules/ excluded in the .ts loader.

I'll reference this issue in the commit of the fix, let me know afterwards if you still have this issue.

[2017-02-18 17:34] NicholasAzar commented on #22
Hi @genuinefafa, thanks for letting me know about this.. I was careless in my last commit.

Will be fixed this weekend.

[2017-02-19 05:18] #22 closed

[2017-02-19 05:56] NicholasAzar commented on #22
Hey, try it out with 1.0.1 and let me know if you still have this issue. Please note the updated installation instructions in the readme.md (some paths have changed).

[2017-02-19 05:57] NicholasAzar commented on #21
Hey, try it out with 1.0.1 and let me know if you still have this issue. Please note the updated installation instructions in the readme.md (some paths have changed).

[2017-02-20 13:28] rohan-buchner commented on #21
It's working. :)

PS. For webpack there are a few other issues regarding the providing of the actual selectize jquery plugin.

[mport-jquery-plugin-angular-2-webpack](http://stackoverflow.com/questions/42342131/import-jquery-plugin-angular-2-webpack)

I'll see if I can setup a small sample once everything is working. (Because I'm sure there will be a few more webpack guys that'll bump into the sam

[2017-02-20 18:43] NicholasAzar commented on #21
good point @rohan-buchner.. i'll take a quick stab at this as well to see what sort of issues someone might run into. Webpack is pretty flexible so i don't expect a major integration effort to be required.

[2017-02-20 19:06] NicholasAzar commented on #21
Hey, I forked [preboot/angular2-webpack](https://github.com/preboot/angular2-webpack) into [nicholasazar/angular2-webpack](https://github.com/NicholasAzar/angular2-webpack) to try this and all code is committed there, but to summarize:

[code]
Add the following to vendor.ts:
[code]

Add the following to app.scss:
[code]

Add the following to app.module.ts
`import {NgSelectizeModule} from 'ng-selec

[2017-02-21 21:07] genuinefafa commented on #22
all set dude! it does work, now is up to me deal with it ;) thanks!

ps: nicely done using latest updates of angular-cli too :clap:

[2017-02-22 00:24] #21 closed

[2017-02-23 05:53] u36020 opened #23 "Option to create item on-the-fly"

[2017-02-24 06:30] #23 closed

[2017-02-24 06:35] NicholasAzar commented on #23
Example of creating values on the fly can be seen here: https://github.com/NicholasAzar/ng-selectize-demo/commit/5fe8fa25cf6842d7e169766f4d14efab06524209

[2017-02-27 00:13] BenevidesLecontes opened #24 "ng-touched not triggered?"
Hi! Thanks for your work, i'm trying to use this amazing component, but i can't make ng-touched to trigger, even in the example page, i saw that. Am I missing something?

[2017-02-27 10:08] JosephSKh opened #25 "Filter is not working"
Filter is not working or filtering options when I type in the field.

as happens in the provided online demo:
http://nicholasazar.com/ng-selectize/

HTML:
`<ng-selectize [options]="options" [config]="config" [placeholder]="placeholder"></ng-selectize>`

TS:
`    options: any[] = [
        {
			label: "j",
			value: "j"
		},
        {
			label: "f",
			value: "f"
		},
        {
			label: "s",
			va

[2017-02-27 10:14] JosephSKh commented on #25
Sorry, I didn't add `searchField` property, It working

[2017-02-27 10:14] #25 closed

[2017-02-27 23:40] NicholasAzar commented on #24
Hi @BenevidesLecontes, thanks for letting me know about this.. it will be fixed soon.

[2017-02-28 01:26] BenevidesLecontes commented on #24
@NicholasAzar and how can i enable other plugins? Like no_results, infinite_scroll and so on?

[2017-02-28 01:41] NicholasAzar commented on #24
Fixed here: https://github.com/NicholasAzar/ng-selectize/commit/8b9663734ee943f59cf3edd82b953764d13a16db and form example updated here: https://github.com/NicholasAzar/ng-selectize-demo/commit/e07c563efee9fd3d1ace73a7f0b589d5b13270cb

[2017-02-28 01:42] #24 closed

[2017-02-28 01:47] NicholasAzar commented on #24
@BenevidesLecontes The selectize.js script being used actually isn't tied to this plugin, so you're free to use plugins per original selectize documentation https://github.com/selectize/selectize.js/blob/master/docs/plugins.md. Just be sure to set your updated version in the scripts tag of .angular-cli.json (if you're using angular-cli), and pass in the configured plugins through the plugins array

[2017-02-28 02:03] BenevidesLecontes commented on #24
@NicholasAzar thanks for your clarification, i have my own version of selectizejs, I've used for angularjs projects, now i'm upgrading the NG1 app to Ng2, that's why i'm searching for some plugins and i like this one (ng-selectize). I hope you fix this soon as possible.

[2017-03-01 12:23] theromie opened #26 "Data is not loading from service."
sport.ts
`export interface Sport {
	id: number;
	name: string;
}`

sportservice.ts
`export class SportService {
  getSport(): Promise<Sport[]> {
    return Promise.resolve(SPORTS);
  }
}`

component.ts
`
options: Sport[] =[];
config: any = {
    create: true,
    maxItems: 5,
    plugins:["dropdown_direction","remove_button"]
  };
placeholder: string = 'Search Sports';
getSports() {
   this.sports

[2017-03-01 13:15] JosephSKh opened #27 "(ngModelChange) Not triggred when multiple selection"
I'm facing the issue that `(ngModelChange)` is not being triggered when I'm selecting multiple values, it's only triggered the first time with the first selection.

[2017-03-01 14:44] JosephSKh commented on #27
It also happens in the online demo, the `console.log` is fired only once
http://nicholasazar.com/ng-selectize/

in the **Dynamically add options to Multi select** example

[2017-03-01 16:42] BenevidesLecontes opened #28 "ng-selectize with systemjs"
Hi @NicholasAzar i'm trying this component with Systemjs, but it throws this error
<img width="614" alt="screen shot 2017-03-01 at 13 39 19" src="https://cloud.githubusercontent.com/assets/1839361/23470267/b5c46866-fe84-11e6-9159-a692b5e49651.png">

I'm using the umd files. Do you have any idea what's happening?

[2017-03-02 00:25] NicholasAzar commented on #27
Thanks for letting me know about this @JosephSKh! I'm considering this high priority and will take a look as soon as I can.

[2017-03-02 07:56] JosephSKh commented on #27
@NicholasAzar thx for your fast reply, waiting for the resolve on fire :D

[2017-03-03 00:09] BenevidesLecontes commented on #28
After 2 days searching i found a way to use with systemjs. Thanks anyway.

[2017-03-03 00:09] #28 closed

[2017-03-03 02:24] #27 closed

[2017-03-03 02:41] NicholasAzar commented on #27
Hey @JosephSKh, this should be all good now, published 1.0.7 with the fix and the docs site is updated. Let me know if you run into any more issues.

[2017-03-03 02:46] NicholasAzar commented on #26
Hi @theromie, i'll take a look at this and let you know soon

[2017-03-03 02:58] NicholasAzar commented on #26
@theromie I couldn't reproduce any issues with this, seemed to work ok as far as I could tell. I committed the example to https://github.com/NicholasAzar/ng-selectize-demo/commit/7d284b7d03b963f00b21b059d3da0eddc3f8a461 if you want to compare yours against it. Closing this for now.

[2017-03-03 02:59] #26 closed

[2017-03-03 18:09] JosephSKh commented on #27
@NicholasAzar Thank you for your reply and for the fix, I've checked the online demo and **yes it's working**, will be able to check it on my project as well on Sunday.
Thx man :)

[2017-03-05 08:47] JosephSKh commented on #27
@NicholasAzar working like a charm, thank u :)

[2017-03-06 00:04] BenevidesLecontes opened #29 "Enable false doesn't work"
Hi! Looks like `[enabled]="false"` as default value doesn't work. Even in your example.

[2017-03-06 02:09] NicholasAzar commented on #29
Thank you @BenevidesLecontes for letting me know.. looking into it.

[2017-03-07 07:10] nanya opened #30 "(change) event not triggered in ng2-selectize"
Hi,
(change)=onValueChange($event) does not seem work with ng2-selectize. The onValueChange function is never called even after a change occurs.

Thanks.

[2017-03-07 12:36] ismaelSilveira commented on #28
Hi @BenevidesLecontes, i'm having same error.
Can you tell me how did you make it work?

Thanks!

[2017-03-07 22:56] BenevidesLecontes commented on #28
@ismaelSilveira  you need to do this:

`System.config.map`
[code]

`System.packages`
[code]

[2017-03-09 03:54] NicholasAzar commented on #30
Hey @nanya, could you please try using (ngModelChange) instead and see if that works for you? Please reference the sample here: https://github.com/NicholasAzar/ng-selectize-demo/blob/master/src/app/home/multi-select-example/multiSelectExample.component.html#L5

[2017-03-09 04:07] NicholasAzar commented on #29
Hey @BenevidesLecontes, this is now fixed by https://github.com/NicholasAzar/ng-selectize/commit/c5da2120db5eac5057c0b50c08375538297d4641 and is included in 1.0.8.

[2017-03-09 04:07] #29 closed

[2017-03-09 12:53] BenevidesLecontes commented on #29
@NicholasAzar thanks for your amazing work.

[2017-03-09 19:08] nanya commented on #30
Hi Nicholas, yes the (ngModelChange) works, however, there are cases when a change occurs in the select component (e.g. when a new item is added to the options list dynamically) and the $event (that is the value of the model) of the (ngModelChange) is "" which raises an error in my code. It would be nice to have an (change) event that does not make the ngModel equals to "". Thanks.

[2017-03-10 05:17] NicholasAzar commented on #30
Hey @nanya, from my testing I wasn't able to replicate the scenario where adding a new option to the dropdown triggers the ngModelChange with an empty value. If there is a change in the selected value though, if the currently selected value is removed as an option for example, reflecting that the value has changed is correct. I'm struggling to understand why an entirely new event would be preferab

[2017-03-10 05:17] #30 closed

[2017-03-10 17:02] ismaelSilveira commented on #28
Works perfect!!
Thanks!

[2017-03-13 16:12] nanya commented on #29
Hi @NicholasAzar , does this change apply to ng2-selectize as well? Thanks.

[2017-03-13 16:17] nanya commented on #30
Hi @NicholasAzar, I believe adding a change event would be helpful and also to keep things consistent with Angular2 (I am not sure but I think Angular 2 has a change event and an ngModelChange event).

Thanks for your help.

[2017-03-14 20:22] ismaelSilveira opened #31 "Error when not finish a search"
Hi.

First of all, sorry for my bad english.

I found that when the partial result of a search is highlighted and the control's focus is lost, the list closes correctly, but when the control is focused again, the list appears and the elements that match with previous search are still highlighted

Search is highlighted properly
![image](https://cloud.githubusercontent.com/assets/2218217/23920523/d1

[2017-03-14 20:32] ismaelSilveira opened #32 "Remove button for single select dropdown?"
Hi.

Is it possible to add a button to delete the current selection of a single select dropdown?
I know that currently it is possible to eliminate the selection by pressing backspace, but sometimes that is a bit uncomfortable.

Thanks!!

[2017-03-15 02:08] BenevidesLecontes commented on #31
@ismaelSilveira i'm portuguese, i'll try with english too. This bug is reported on selectize.js repo and it has a PR  also. I created my own version of selectizejs with some corrections and and some plugins, because of these errors.

[2017-03-15 03:07] NicholasAzar commented on #31
@BenevidesLecontes would you be able to add a pr for that fix to https://github.com/NicholasAzar/ng-selectize/blob/master/src/selectize/selectize.standalone.js ? I've been aware of this issue for a while now as well and just disabled the highlight feature while i wait for time to take a look.. if you already have though I would love to have it integrated

[2017-03-15 11:37] BenevidesLecontes commented on #31
@NicholasAzar i'll do do a PR for this.

[2017-03-15 18:30] BenevidesLecontes opened #33 "How to update config?"
Hi @NicholasAzar sorry for asking here, how to update configs?

[2017-03-16 03:59] NicholasAzar commented on #33
Hey @BenevidesLecontes, right now ng-selectize doesn't have a way for the dropdown to reflect changes to the [config] input param, however it is a feature i've been wanting to implement (will track here). I think when I tried this previously I wasn't able to quickly find a way to safely destroy the previous selectize instance and recreate it with the updated config.. will keep this open as an enha

[2017-03-16 04:08] NicholasAzar commented on #32
Hi @ismaelSilveira, the "remove_button" selectize plugin is one included in the default selectize.js source (see here: https://github.com/NicholasAzar/ng-selectize/blob/master/src/selectize/selectize.standalone.js#L3818). I haven't actually taken a real look at it before, but from what I see now there does seem to already be some code to add a delete button when in single select... I'll have to pl

[2017-03-16 12:52] BenevidesLecontes commented on #33
@NicholasAzar ok, i'm trying to implement this as well, i'm afraid that in order to do this, you need to listen for config settings changes and destroy the componentRef and then update de component with the new settings.

[2017-03-19 15:22] joaogarin opened #35 "Universal"
Hello

Any idea if this works well with Universal? trying to find a solution that would work with server side rendering..but most ones I tried do direct access to window  object.

[2017-03-19 15:23] joaogarin commented on #35
Okay nvm just saw it uses jquery so I guess it wont work.

[2017-03-19 15:23] #35 closed

[2017-04-06 18:34] danielfnz opened #36 "Show display optionGroups?"
Hello, @NicholasAzar .

I want to use a <optgroup>, how to code it?
See screen on selectize.js.
http://oi66.tinypic.com/29wo67m.jpg

Is the option optionGroups?

Thanks

[2017-04-08 11:55] BenevidesLecontes commented on #36
@danielfnz here a small example. Put something like that in your ng-selectize config.
[code]

[2017-04-17 11:14] karangarg45 opened #37 "Angular run change detection on every mouse move event[Performance issue]"
I started using ng selectize in my application and i started experiencing some serious performance issue.Did a little debugging and found that in selectize standalone.js there is a mouse move event attached to the $window(line 1392)
Could you please look into it as it forces the angular to run change detection on every mouse move which then leads to all model calculations bound to my component?

[2017-04-18 02:24] NicholasAzar commented on #37
Hi @karangarg45 -- I'll take a look and let you know. Thanks for bringing this up.

[2017-04-18 02:27] NicholasAzar commented on #31
Thanks again to @BenevidesLecontes for PR #34 that resolves this issue.

[2017-04-18 02:27] #31 closed

[2017-04-20 00:09] BenevidesLecontes opened #38 "FormControl bindings issue (Wrong issue, sorry)"
Hi @NicholasAzar i'm having issues with Reactive forms and ng-Selectize. I have this code inside an ngFor with formArray and i'm getting this error `Error: No value accessor for form control with unspecified name attribute`. But if use a normal input it's working.

[code]

Take a look at this two gists
https://gist.github.com/BenevidesLecontes/6598fa3a36b4c090abcef6c72d17499e

https://gist.github.

[2017-04-20 00:33] #38 closed

[2017-04-20 02:24] NicholasAzar commented on #37
@karangarg45 I added a potential [fix](https://github.com/NicholasAzar/ng-selectize/commit/187bb8c03b9e427229eaa2ccaed64ed432799cdf) to the fix(37) branch for review. It did resolve the problem for me from how I was able to replicate it, and still seems to maintain original functionality.

Let me know if this is a good solution and i'll merge to master and release.

@BenevidesLecontes could you pl

[2017-04-24 19:50] chumtoadafuq opened #39 "webpack2 example"
Could you please provide an example for how to get it working for angular4 with webpack2.

[2017-04-25 01:31] NicholasAzar commented on #39
Hey @chumtoadafuq, have you seen my answer to https://github.com/NicholasAzar/ng-selectize/issues/21?

[2017-04-26 12:04] astroanu commented on #16
Is this a fix to not use jquery with the plugin.?

I'm using latest version and it says $ is undefined. Including jquery in an angular project does not seem okay for me :(

[2017-04-26 17:58] BenevidesLecontes commented on #37
@NicholasAzar ill try to review soon i can.

[2017-04-28 00:40] NicholasAzar commented on #16
Hi @astroanu -- no, it was just for replacing the require('...') 's with imports.

If you have a repo with your issue up anywhere link it and i'll see if I can help

[2017-04-28 00:40] #39 closed

[2017-04-28 11:51] abelkbil opened #40 "Dynamic Query to Service."
Thanks for ng-selectize.
I am unable to find an example to get the search query on select box so, that i could produce dynamic result from service.

[code]

I am getting event on ngModelChange and selected value is also accessible in formControl.balues

I would like to get insight on below
1. getSearchQuery
2. How to implement with formControl
3. How to style the select (less priority)

[2017-04-28 12:12] abelkbil commented on #40
@NicholasAzar
And I'm not sure how to get `query`

[2017-04-28 12:29] astroanu commented on #16
I see, my issue is not related to this issue then. Is there a way to use ng-selectize in angular project without including jquery ?

[2017-04-29 13:37] NicholasAzar commented on #16
@astroanu unfortunately no, the ng-selectize module is just a wrapper over the selectize jquery plugin.

[2017-05-05 07:01] karangarg45 commented on #37
@NicholasAzar  Any update on this?When you are going to merge this with the main branch?
The solution seems to be working fine for me.

[2017-05-05 07:05] abelkbil commented on #33
@BenevidesLecontes Are you able to dynamically load options from API based on search query. I am stuck with this.

[2017-05-05 11:08] karangarg45 opened #41 "[Question] Disabling the control"
Is it possible to disable the component based on some condition so that user cannot edit/add values to the control?

[2017-05-05 11:10] #41 closed

[2017-05-05 11:10] karangarg45 commented on #41
sorry just saw this mentioned in the docs

[2017-05-06 01:43] BenevidesLecontes commented on #40
@abelkbil you need to do something like this in your selectize configs
[code]

[code]

[2017-05-06 02:13] NicholasAzar commented on #37
@karangarg45 Thanks for verifying, will merge and publish tomorrow.

[2017-05-07 08:36] millturnK opened #42 "Populating ng-selectize box with initial values"
Hi there,
We are totally stuck. We are trying to set our selectize box with the current tags (array of Tag objects) assigned to a requirement. We understand how to set the default options on the form with the "name" values of our objects (in this case "Tag" objects) - i.e. not just strings but objects. We are using reactive forms. When we manually set the value of the control "tagsCtrl", we can se

[2017-05-07 16:11] NicholasAzar commented on #37
fix(37) branch merged into master and published in 1.0.10.

[2017-05-07 16:11] #37 closed

[2017-05-07 16:26] NicholasAzar commented on #42
Hi @millturnK -- I'll take a look at this.... haven't tried it in a while but i'm pretty sure that setting the value through a form control should reflect appropriately in the ui.
I'll work off of my form-example in [ng-selectize-demo](https://github.com/NicholasAzar/ng-selectize-demo/tree/master/src/app/home/form-example), but if you have you code up in a repo anywhere, I might be able to provide

[2017-05-07 16:49] NicholasAzar commented on #42
@millturnK
Code for a working example can be found in the test(42) branch of ng-selectize-demo [here](https://github.com/NicholasAzar/ng-selectize-demo/tree/test(42)/src/app/home/form-example)
Here's a quick summary:
Options are:
[code]

Config is:
[code]
Form group is:
[code]
being used like this:
`this.formGroupExample = this.formBuilder.group(FORM_GROUP_EXAMPLE);
`
Programatically setting the v

[2017-05-08 00:01] NicholasAzar commented on #40
Hey @abelkbil -- all good on this?

[2017-05-09 11:40] #42 closed

[2017-05-09 11:45] abelkbil commented on #40
Thanks @NicholasAzar and @BenevidesLecontes data dynamically loaded.
I have an issue. My option list hides on type and options are appended not replaced. I need to click out and click to see the reflection. Any clue on this.

Thanks for your effort and time.

[2017-05-09 22:39] BenevidesLecontes commented on #40
@abelkbil print or gif? I don't speak english very well, so i need something to understand very well your issue.

[2017-05-14 13:16] nanya commented on #36
This works exactly as you have it. However, in the 'optgroups' array, if the property names (label or value) are replaced with user-defined fields, it doesn't seem to work even after defining the unique field names using 'optgroupLabelField' and 'optgroupValueField'.

[2017-05-14 14:26] nanya opened #44 "Caret positioning in textfield"
Hi,

After selecting an option and click again in the textfield, the caret is positioned far away from the text contained in the textfield. Please can you explain why this happens? Thanks!

[2017-05-16 16:45] rosslavery commented on #40
@NicholasAzar I'm seeing the same issue as @abelkbil . I'm loading my items via selectize's `load`, passing that function's `query` argument to my service, calling the `callback` argument with my results.

The results don't seem to be updated or shown at all. When I blur off the input and re-focus it, I can see some results appear.

Config in my component:
[code]

Template for my component:
[code]

[2017-05-17 04:29] NicholasAzar commented on #40
@rosslavery Will take a look at this as soon as I can and let you know. Haven't tested loading data through the selectize.js load method too much unfortunately.. it's long overdue.

[2017-05-17 12:37] rosslavery commented on #40
I believe it could be because all of the selectize functions that are passed in via the `[config]` input are being run outside the angular zone, so angular's change detection isn't firing when they are executed.

[2017-06-01 08:24] khan8698 commented on #36
@nanya any solution for the problem relating to defining unique field names. i am getting same problem. in which i can assign data when valueField is "value"  and labelField is "label" rest is not seems to be working and it is still geting objects with values mentioned before even i have changed them in config object

[2017-06-02 22:26] nanya commented on #36
@khan8698 No, I haven't found a solution :(

[2017-06-03 00:47] ChaudhryAtif opened #45 "Option template"
Is it possible to do templates for dropdown options, like so:
![image](https://cloud.githubusercontent.com/assets/7082580/26749218/1fd66af2-47cc-11e7-8044-70f43a215a5d.png)

If so, please provide an example, as such example is not shown in the hosted examples.

[Email Example (2nd one) @ http://selectize.github.io/selectize.js/](http://selectize.github.io/selectize.js/)

[2017-06-03 11:26] khan8698 commented on #36
@nanya Please verify that the custom variable names are not double strings eg not in this format '"value"' and should be like this 'value'. this was the blunder from my side may be it works for you

[2017-06-05 13:03] BenevidesLecontes commented on #45
@ChaudhryAtif put this in your config
[code]

[2017-06-05 13:09] BenevidesLecontes opened #46 "Dropdown_direction stop working"
Hi @NicholasAzar, i think dropdown direction plugin stop working. I tested in your example page and it's not working too.

[2017-06-05 19:59] ddivita opened #47 "Use an Observable to set options and the ngModel value?"
I am trying to set the options via an observable and also set the selected value from my model. I get an error that the `optionList` is undefined.

[code]

[code]

[2017-06-05 20:39] ddivita commented on #47
This does work. I had an issue with how the subscriptions were being initialized. Also, i had to use the `[ngModelOptions]="{standalone: true}"` on my ng-seletize directive because I am not using Reactive forms.

[2017-06-05 20:39] #47 closed

[2017-06-08 05:04] karangarg45 opened #48 "Search text is not retained after selecting a value from the dropdown"
suppose i search on a text 'Test' and as soon as i select a result from the dropdown  the search criteria gets cleared.Is it the expected behaviour? Also is it possible to make it configurable?

[2017-06-22 13:46] shafaqkazmi opened #49 "Model value is not updated in onChange"
I'm working in angular 4 and i'm facing an issue that if I try to access the model value inside onChange method, it doesn't provides me. However if I check the model value after some interval it worked.

**HTML**
[code]
**JS**
[code]

[2017-06-27 02:48] NicholasAzar commented on #48
Hi @karangarg45, the functionality as you described is of the base selectize.js library and not (intentionally) modified by this module. I believe this change will need to be done on their end.

[2017-06-27 02:53] NicholasAzar commented on #46
Hi @BenevidesLecontes, please pardon my delay in responding... I just tried the example page and haven't been able to provoke an issue, is there are particular scenario in which it wasn't working?

[2017-06-27 02:55] NicholasAzar commented on #44
Hi @nanya , sorry for the delay in responding.. do you happen to have a screenshot for me to see what you mean? Playing around with what i have working right now and the caret placement seems to be ok..

[2017-06-27 03:01] NicholasAzar commented on #49
Hi @shafaqkazmi, could you try making the following change and seeing if it works out? I'll take a look at cleaning up the interface in the mean time.

[code]
With the above, you can remove the `onChange `field from `myConfig`.

[2017-06-27 04:31] karangarg45 commented on #48
okay then i guess nothing can be done about this on your side.
I have one more query if user removes any selected option then dropdown is open again.is it also the behaviour from selectize.js library?

[2017-06-27 09:39] sparkbuzz opened #50 "Incorrect peer dependency "@angular/core@^2.4.0""
I'm getting the following error when doing a yarn / npm install:

`warning "ng-selectize@1.0.10" has incorrect peer dependency "@angular/core@^2.4.0".`

We are using the following Angular packages:

[code]

How do we correct this?

[2017-06-29 06:58] shafaqkazmi commented on #49
@NicholasAzar : this doesn't work too. `this.selectedSymbol` is still not updated in `getStatusData` method.

[2017-07-01 04:28] NicholasAzar commented on #49
@shafaqkazmi i didn't read the question close enough the first time...

add output brackets to ngModel as well then, as follows:

`<ng-selectize [(ngModel)]="selectedSymbol" (ngModelChange)="getStatusData($event)" name="symbol" [config]="symbolSelectizeConfig" [options]="symbolDropdownOptions" [placeholder]="'Symbol'"></ng-selectize>`

[2017-07-01 04:41] NicholasAzar commented on #50
Hi @sparkbuzz, I'm fixing this, will let you know soon.

[2017-07-01 04:55] NicholasAzar commented on #50
@sparkbuzz please give 1.0.11 a go and see if the problem is resolved

[2017-07-01 04:58] NicholasAzar commented on #48
@karangarg45 partially, since this module does maintain the binding between the selectize.js values and the angular layer. I suspect you might want to take a look at the 'persist' option in the selectize config.

[2017-07-01 13:13] BenevidesLecontes commented on #46
@NicholasAzar don't worry for the delay, i can't make the dropdown direction work, tried your version of selectizejs but i not working too. But it was working before.

Off topic: Do you have slack or gitter? I need some help publishing an ng cli app as library on npm could you help me with this one?

[2017-07-01 19:17] Akeru opened #51 "Incorrect peer dependency zone.js"
When trying to install using the follwing NPM command : npm i --save ng-selectize jquery selectize

The is warning is displayed :
npm WARN ng-selectize@1.0.11 requires a peer of zone.js@^0.7.2 but none was installed.

[2017-07-03 09:54] shafaqkazmi commented on #49
This also doesn't work for me :(

[2017-07-04 04:14] #50 closed

[2017-07-04 04:15] #48 closed

[2017-07-04 04:16] #44 closed

[2017-07-04 04:16] #45 closed

[2017-07-21 14:35] stefannikolic opened #52 "Ng-selectize removes initial set of ngModel"
Hi,

I have a problem with `<ng-selectize>` removes my initially set ngModel.
I have a code like this

`HTML`
`        <ng-selectize [config]="config" [options]="myOptions" placeholder="Select" [(ngModel)]="myObject.type"></ng-selectize>
`

and in component I have:

`TS`
`this.myObject = {
    type: 'myValue1'
};`
`this.myOptions = [{
			value: 'myValue1',
			label: 'myLabel1'
		}, {
			value: 'my

[2017-07-27 04:50] evanturn opened #53 "Use with protractor tests?"
Hi, can you provide any advice on how to access your component in a protractor test? I've got a few tags in the component and would like to select one in a test and see if the corresponding search functionality works correctly. I have looked at the elements in the javascript console and tried to click() on one of them but I'm not able to access them at this point. I had a look at your demo but it

[2017-07-28 05:02] evanturn commented on #53
Worked it out

   // this activates the element
    element(by.css('.selectize-control')).click();

    // this selects the item you want
    element(by.css('.option[data-value="TestTag"]')).click();

[2017-07-28 05:02] #53 closed

[2017-08-04 08:03] NkxPanda opened #54 "Options are not fully displayed"
Hello,

I'm currently using ng2-selectize and I'm facing an issue trying to display options. My component looks like this :

`<ng2-selectize [config]="config"></ng2-selectize>`

When I give selectize an array of strings, it interprets it quite well but when I am passing it an array of OBJECT, the render is not what I expect since it only displays ONE option.

Here is my array:

[code]

My options

[2017-08-09 07:17] khan8698 commented on #52
Hi @stefannikolic !
Did you get any solution for this problem i am facing the same problem right now and i am still clueless about it. by the way interesting part is that if i load data after some delay (from API call) then it is working perfectly but creates this problem when it is loaded immediately.
One of the trick i try to use that i assign selected value (ngModel value) after assigning the d

[2017-08-09 12:58] stefannikolic commented on #52
Hi @khan8698 I used all the "solutions" you mentioned and they worked but I didn't like them. I think that problem is somehow in that I am giving to selectize array of objects and tell it that it's selection should be stored as a string (you can see my code), so I think that library is not doing the conversion right. I suppose it should take the id of selected option and put it in the property you

[2017-08-09 13:06] khan8698 commented on #52
In My case the value and label both are string but this problem is still happening. i also didn't like much this approach (assigning the model value again after some time). but nothing seemed to be working except this

[2017-08-09 13:09] stefannikolic commented on #52
In my case also the label and the values are strings. But I think that the problem is that you are giving array of objects to the selectize (in my case this.myOptions) and ngModel is string, so maybe if this.myOptions is an array of strings it will work or ngModel (in my case this.myObject.type) is an object.

[2017-08-09 13:12] khan8698 commented on #52
May it is expecting an array because it is working perfectly in case maxItem more than 1.

[2017-08-18 13:59] DucNHoang opened #55 "refreshOptions() working?"
Hi Nicholas, how could I invoke the refreshOptions() function with using jquery cuz I want my app to retrieve options based on the selected item of a previous field and inject them to the current field. Kinda stuck at this stage.

[2017-08-25 10:38] khan8698 commented on #52
@NicholasAzar any update related to this issue ?

[2017-08-29 07:59] maddy89 opened #56 "No provider for NgControl Error"
I added a required validation to an ng-selectize filed as below:
[code]
My config file:
[code]
Inside the component.ts:
[code]
I'm getting the following error when initializing the component:
[code]
Have I missed anything here?

[2017-08-30 08:30] denniskuligin opened #57 "Add License file"
Hey!

I'd like to use this library, but you haven't LICENSE file, and therefore I can not use it.

Please add LICENSE file

[2017-09-08 04:44] lyslim commented on #51
We had the same issue while trying to integrate whitesource in our project, even a simple `npm list` will pop issue like below:
``-- UNMET PEER DEPENDENCY zone.js@0.8.16

npm ERR! peer dep missing: zone.js@^0.7.2, required by ng-selectize@1.0.11`

I checked the `package.json` from latest master branch - it seems the dependency to `zone.js` is already bumped to `^0.8.4` which would suit what we nee

[2017-09-10 18:42] #57 closed

[2017-09-10 18:55] NicholasAzar commented on #56
Hi @maddy89 , I think you'll need to add the [fromGroup] to the <form> element you have in your template... check out [this](https://github.com/NicholasAzar/ng-selectize-demo/tree/master/src/app/home/form-example) for a working example.

[2017-09-10 18:55] #56 closed

[2017-09-10 18:59] NicholasAzar commented on #55
Hi @DucNHoang ng-selectize should automatically reflect any changes in options you pass in to the component. You shouldn't need to call refreshOptions explicitly.
If you need a function to react to the change in selection, use (ngModelChange).

[2017-09-10 18:59] #55 closed

[2017-09-10 19:03] NicholasAzar commented on #54
Hi @NkxPanda , instead of passing your options through [config], try using the [options] input. Reason for this is the difficulty detecting changes to options passed in through the config... whereas [options] would be reactive to change.

I'm not sure about returning the entire object rather then just the value.. if you needed to you could always set the value field as a unique key in your list of

[2017-09-10 19:03] #54 closed

[2017-09-10 19:05] NicholasAzar commented on #51
Hi, this should be fixed in https://github.com/NicholasAzar/ng-selectize/commit/29faa740168682699df12bc1ca67d153eeb962c3 and published in 1.1.0. Let me know if you still have any issues.

[2017-09-10 19:05] #51 closed

[2017-09-10 19:07] NicholasAzar commented on #36
Hi, i added a working option group example [here](https://github.com/NicholasAzar/ng-selectize-demo/tree/master/src/app/home/option-group-example).. let me know if you still have any issues

[2017-09-10 19:07] #36 closed

[2017-09-10 19:22] NicholasAzar commented on #52
Hi @stefannikolic and @khan8698 , could you please confirm if this is still an issue in v1.1.0? I'm trying out your example and seems to be working as expected.. let me know.

html:
[code]

ts:
[code]

[2017-09-10 19:24] NicholasAzar commented on #28
As of version 1.1.0, only lodash.clonedeep is required.

[2017-09-11 02:56] ostar0816 commented on #40
Hi Nicholas,
Is there any luck with this issue? Can't wait... Please help.

[2017-09-11 12:39] khan8698 commented on #52
@NicholasAzar I just updated library to version 1.1.0 and it started throwing an error in console leaving complete component broken. Here is the Error

`OrderFormComponent.html:4 ERROR Error: Cannot find a differ supporting object '[object Object]' of type 'object'`

While it was working fine before. Can you please check that it.
Thanks

[2017-09-12 01:21] NicholasAzar commented on #52
@khan8698 The only way i could reproduce this was to have the [options] as an object rather then an array of objects.. is this the case?

[2017-09-13 07:19] khan8698 commented on #52
@NicholasAzar I don't think that this is the problem. code was working correctly in version 1.0.0 but started producing error in version 1.1.0.
Let me add sample options and configurations to make things clear. (this is working with version 1.0.0 obviously with the issue of emptying model field but not on version 1.1.0 ).

`dropDownOptions = [{
      "label": "label1",
      "value": "value1"

[2017-09-13 08:04] stefannikolic commented on #52
@NicholasAzar sorry I found some other solution so didn't get back to this one. I don't think that there is a bug but the feature is not like some others drop-down libraries. When mapping is 1 to 1 (as I explained above) works fine, but unfortunately, it didn't work out for me that way so I had to change it.

[2017-09-13 10:07] khan8698 commented on #52
@stefannikolic what was the work around solution ? can you please tell me may b i am able to make that work until issue would be resolved fully on my side too ?

[2017-09-14 09:26] paesku commented on #52
After updating from **v1.0.11** to **v1.0.11** we faced the problem, that our model presets weren't rendered properly. Which means, they popped up and disappeared after seconds and then the user couldn't select anything. Data are there and we didn't really figure out what causes this problems. We went back to **v1.0.11**.

[2017-09-15 08:07] maddy89 commented on #56
thank you!

[2017-09-15 14:41] bezigon commented on #46
I've checked that `dropdown_direction` plugin not found in `selectize.js` originally taken from https://github.com/selectize/selectize.js. So I switched to `selectize.standalone.js` taken from this repository.

[2017-09-16 18:26] ostar0816 commented on #40
Switched to PrimeNG and it worked for all my criteria thought I had to customize something to support selectize.
https://www.primefaces.org/primeng/#/autocomplete

[2017-09-18 07:42] madiyana opened #58 "Hide dropdownlist after select one element"
HI NicholasAzar,
I use the ng-selectize and it is worked fine but I would like to hide the dropdownlist  list when I select one element of the list ? It is possible ?,

[2017-09-18 10:08] bezigon commented on #58
Set `closeAfterSelect: true` in dropdown config.

[2017-09-18 11:22] madiyana commented on #58
Oow yes, it's worked fine .. Thx

[2017-09-18 13:41] bezigon opened #59 "ng-selectize [options]="options" doesn't update automatically"
Steps:
1. Bind ng-selestize options `[options]="options"`
2. In code change options

Expectation: ng-selestize updates options correctly.
Reality: ng-selectize glitches!

As a temporary solution I used to have a reference to selectize.js component, and update their options.

Your move?

[2017-09-19 07:29] bezigon commented on #59
UPD: My temporary solution not working in my project with the latest version of  `ng-selectize` (`1.1.0`).
More precisely, it worked when I tried to repeat the error in the `ng-selectize-demo` project. But it seems to me that the old version of the `ng-selectize` is being used.
In my project, errors occur with the latest version of the `ng-selectize`. I decided to try an older version (`1.0.11`),

[2017-09-19 12:13] #58 closed

[2017-09-26 06:27] madiyana opened #60 "Get value and label of ng-selectize"
Hi,
How can I get value and label with ng-selectize when I submit forms ? Like I want to get object
Example :
sujet :[ {code : "ABC", label:"GitHub"}, {code : "CZE", label:"STACK"} ]

In my component.ts I define :
[code]

in my component.html
[code]

[2017-10-17 00:40] ChaudhryAtif commented on #32
@NicholasAzar any update on this?

[2017-10-24 04:04] ChaudhryAtif opened #62 "Remote loading"
Hi Nicholas,

Can you provide an example of remote loading with angular's Http or HttpClient?

Thanks

[2017-10-24 14:04] roweldeguzman commented on #49
@NicholasAzar i think this is because NgModel is not in sync with options value is change.

adding code below will update the value of NgModel and might be the answer that @shafaqkazmi is looking for.
`import { NgModel } from '@angular/forms';`
`providers: [NgModel]`

[code]

[2017-10-24 14:18] shafaqkazmi commented on #49
Issue was auto resolved after updating the version

[2017-10-24 14:18] #49 closed

[2017-10-28 21:56] ChaudhryAtif commented on #62
@NicholasAzar Any suggestion/eta?

[2017-11-06 08:08] thanhnguyenp opened #63 "Cannot populate items when (typeof value == 'number')"
Dear,

I have met an issue with ng-selectize. When the (typeof value == 'number') the dropdown doesn't populate items and selected item(s). I have to manually convert my model value and list values to string.

I guess the issue is in the same place of code with this PR: https://github.com/NicholasAzar/ng-selectize/pull/61

Please help me to check it.

Thank you

[2017-11-29 10:21] Gregcop1 commented on #63
I've submitted a PR for this, check #64

[2017-11-30 01:08] evert061 opened #65 "Placeholder disappears after clear value of select."
The placeholder disappears from the select when the ngModelChange changes the value to undefined or empty string, the placeholder appears only when the focus returns to the select. Is this the normal behavior of the component?

* I got a checkbox that change the value of the NgModel in the selectize component, then it clears the options and turns to undefined the value of the valueField.

* I trie

[2017-11-30 22:25] Gregcop1 commented on #60
IMHO, something like
[code]

BTW, naming your var in French is not really a good idea ;)

[2017-12-02 23:47] NicholasAzar commented on #63
Included in 1.1.1

[2017-12-02 23:47] #63 closed

[2017-12-02 23:48] NicholasAzar commented on #60
Merci beaucoup @Gregcop1 !!! 😄

[2017-12-02 23:48] #60 closed

[2017-12-06 19:39] evert061 commented on #65
I went back to the 1.0.11 version and it worked.

[2017-12-06 19:39] #65 closed

[2017-12-18 18:00] mypark opened #67 "How do I share or 2 way bind options state between several inputs?"
My use case is that I have a collection of tasks that I want to assign to several users. Each user is represented by a selectize input control. When a task is selected by the input - it correctly removes that option from the dropdown list. However I want that option to be removed from the dropdownlist of the other selectize inputs as well - so that all the inputs share the same list of dwindling o

[2017-12-21 22:13] JSpors opened #68 "Selectize not disabled when FormControl is disabled"
When the attached FormControl is disabled, the Selectize widget is not responding.  It appears this can be fixed via implementing the setDisabledState method from the ControlValueAccessor interface:
`
	/**
	 * Implementation from ControlValueAccessor
	 * @param isDisabled
	 */
	setDisabledState(isDisabled: boolean): void {
		this.enabled = !isDisabled;
		this.onEnabledStatusChange();
	}
`

[2018-01-03 19:03] justinlee0777 opened #69 "Upgrading Angular dependency"
Will this library upgrade its Angular dependency up to Angular 5? My team is trying to move to Angular 5 but we're getting conflicts with ng-selectize when doing so.

[2018-01-04 10:22] madiyana opened #70 "Reset input ng2-selectize"
Hello,
 I’m writing to you because I’m facing to an issue with the use of ng2-selectize directive.

Actually, I’m using ng2-selectize directive into a form as follows:

[code]
And I initialize the form with this code:

[code]
And at some point I need to valid my form as follows:
[code]
But into the form, the ng2-selectize input is still populated with a value.
I tried to create again the form, ins

[2018-01-09 10:23] mohinithorat opened #72 "Can't bind to 'config' since it isn't a known property of 'ng-selectize'."
Can't bind to 'config' since it isn't a known property of 'ng-selectize'.

[2018-01-09 10:39] mohinithorat opened #73 "how to add html structure as options?"
how to add html structure as options?

[2018-01-29 05:38] maroniman opened #74 "Dropdown appears over search input"
I'm using the single select dropdown version within a form.

When I open the dropdown by clicking, it doesn't appear *beneath* the search input box but *over* it.

Here you can see one un-openend selectize box, and one openend, with the dropdown placed over the search box:
![image](https://user-images.githubusercontent.com/7589438/35494839-abfee168-04bd-11e8-927e-e42b223e7aee.png)

The behaviour i

[2018-02-05 23:42] codeyad opened #75 "seleztize is not a function"
```EvaluationDetailsComponent.html:90 ERROR TypeError: $(...).selectize is not a function```

Im using angular 5 with angular-cli, i dont really know why this is happening.

[2018-02-21 01:28] danillobarbosa commented on #75
I have the same problem here :|

[2018-02-22 16:25] Lastsword commented on #75
You need to install packages, needed for selectize.

"Dependencies
jquery (1.7 and greater)
sifter (bundled in "standalone" build)
microplugin (bundled in "standalone" build)"

https://github.com/selectize/selectize.js

[2018-03-06 09:10] dilipkosuri commented on #69
Hello @justinlee0777 , Does ng-selectize work with Angular 5?

[2018-03-06 14:05] justinlee0777 commented on #69
The initial issue wasn't so much that ng-selectize didn't work, but that ng-selectize depended specifically on Angular 4.
This issue had been resolved for a while now. I'll close the thread.

[2018-03-06 14:05] #69 closed

[2018-03-09 15:31] markheron91 commented on #72
Might be a bit late to the party but this usually means you haven't included the NgSelectizeModule in the imports array of the module you are wanting to use the component in.

[2018-03-13 13:37] hidegh commented on #75
If Inside Angular2, easiest way is to:
1) add CSS to the index.HTML
2) add NgSelectizeModule to some of your modules
3) inside component:
import 'selectize'; // NOTE yes, you need to add npm i selectize too
import {NgSelectizeComponent} from 'ng-selectize'

[2018-03-13 15:38] hidegh commented on #62
[code]

[2018-03-23 23:14] gopalkumar315 commented on #40
How can we add class to only selected items?

[2018-04-26 05:56] somnathswami opened #78 "not having angular material support"
i am looking for selectize functionality with angular materials support currently it looks like regular input box while i am using angular-material 2 for design my forms.
![customf](https://user-images.githubusercontent.com/11055661/39288151-89e86e98-4944-11e8-961c-9e45e287184b.png)

[2018-08-16 20:40] pablocordoba11 commented on #32
### I found a way to use the remove button.
You just need to add plugins: ['remove_button']  in your configuration.For example
[code]
### And then in the HTML

[code]

### And this should be the result

![image](https://user-images.githubusercontent.com/8580624/44233871-0c089480-a173-11e8-9178-3248f2275735.png)

[2018-11-01 05:58] anuj-exp opened #79 "Callback is getting undefined"
Hi
I am trying to implement ngselectize with my app. I need to get a scenario where on type event I need to query data and append to the options.
this.singleSelectConfig = Object.assign({}, {
      highlight: false,
      create: false,
      persist: true,
      plugins: ['dropdown_direction', 'remove_button'],
      dropdownDirection: 'down'
    }, {
        labelField: 'productName',
        va

[2018-11-06 18:12] Alecksei opened #80 "Highlight's modifying selectize options display list"
Quite a weird bug, and not sure if it's related directly to ng-selectize or selectize.js itself.
They say: 'A picture's worth a thousand words', so here it is:

![captura de pantalla de 2018-11-06 11-45-00](https://user-images.githubusercontent.com/26666482/48082946-7bfa4a00-e1b9-11e8-9ee7-7f4c1144aec5.png)

At first I thought something on our project was messing up with selectize drop-down (thoug

[2018-11-07 14:31] FritzHerbers opened #81 "Changing options (from a new array) corrupts them / implement trackByIdentity()"
When changing options in a new array with similar item values "corrupts" the options in selectize.

See [Stackblitz](https://stackblitz.com/edit/angular-9ts63k-fhba26?file=src%2Fapp%2Fapp.component.ts)

Press Next1:
      { value: 6, label: 'BasketballX6' },
      { value: 7, label: 'BasketballX7' },

both values are added.

Press Next2:
      { value: 7, label: 'BasketballX7' },

this change will

[2020-09-19 19:39] NicholasAzar opened #88 "Un-archiving this to update dependencies and make usable"
I noticing some folks could still be using this from time to time, so just to add a small bit of usability I'm planning to fix up the dependencies to make them more relevant to this decade and to hopefully save some people some time.

I'll also be converting this into a angular library to hopefully make the build/publish cycle a little less crazy than I remember it being.

To be clear this will no

[2020-09-23 00:10] #88 closed

[2020-12-15 20:52] mikeover commented on #74
@maroniman  I'm seeing this too, what was the issue?

[2021-02-24 14:22] ReneI commented on #33
Any update ? i need to disable option based in if condition

[2021-02-24 14:22] ReneI commented on #33
I need to rerender to disabled options

[2021-03-17 21:49] jraguilo commented on #74
Had this issue and it was resolved by including this in my config.

`{plugins: ['dropdown_direction'],
      dropdownDirection: 'down'}`